.hero {
  color: var(--primary-blue);
  padding: 40px 20px;
  display: flex;
  align-items: center;
  gap: 36px;
  flex-direction: column;
}

.hero__text {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.hero__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2em;
  /* color: var(--primary-blue); */
  background-clip: text;
  background-image: linear-gradient(
    0deg,
    rgba(2, 83, 115, 1) 0%,
    rgba(61, 154, 191, 1) 100%
  );
  color: transparent;
}

.hero__paragraph {
  max-width: 460px;
  font-weight: 200;
}

.signature {
  font-size: 3rem;
}

@media (min-width: 600px) {
  .hero__title {
    font-size: 3.5rem;
  }
}

@media (min-width: 850px) {
  .hero {
    flex-direction: row;
    padding: 20px 96px;
  }

  .hero__text {
    text-align: left;
    align-items: flex-start;
    padding-top: 3vw;
    width: 50%;
    gap: 36px;
  }

  .hero__img {
    width: 50%;
  }

  .hero__title {
    font-size: 4rem;
  }
}
