.logo {
  position: relative;
}

.logo img {
  display: inline;
}

.text-logo {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.shadow {
  width: 60px;
  bottom: -20%;
  right: -30%;
}

.text {
  width: 100px;
}
